<div class="dark-grayish-blue-bg rounded-xl px-10 pt-10 text-center">
  <p class="neon-green-text larger-letter-spacing text-sm mb-6">ADVICE #117</p>

  <p class="font-bold mb-6 text-xl">"It is easy to sit up and take notice, what's difficult is getting up and taking
    action."</p>

  <img class="mb-4" ngSrc="assets/images/pattern-divider-desktop.svg" height="16" width="444" alt="divider">

  <button class="function-button"><img ngSrc="assets/images/icon-dice.svg" height="24" width="24" alt="dice icon">
  </button>
</div>



